header {
    width: 1200px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_wrap {
}
.logo {
}
nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin: 0 -20px;
}
.nav_link {
    height: 27px;
    font-size: 18px;
    line-height: 27px;
}
.social_block {
}
